<!DOCTYPE HTML>
<html>
  <head>
    <title>User</title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/profile/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/eventlist.css">
    <link rel="stylesheet" type="text/css" href="../css/profile/my.css">
    <link rel="stylesheet" type="text/css" href="../css/foundation/foundation.min.css">

    <link rel="stylesheet" type="text/css" href="../css/profile/jquery.bxslider.css">
    <script src="../js/profile/jquery.bxslider.min.js"></script>
   </head>
  <body>
    <!-- Header -->
      <div id="header">
        <div class="top">
           <!-- Logo -->
            <div id="logo">
              <a href="../index.html"><span class="image avatar48"><img src=""/></span></a>
              <h1 id="userName">User Name</h1>
            </div>
          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li><a href="#top" id="top-link">EventosAgendados</a></li>
                <li><a href="#portfolio" id="portfolio-link">EventosDivision</a></li>
                <li><a href="#about" id="about-link">UserInfo</a></li>
                <li><a href="../index.html">Home</a></li>
              </ul>
            </nav>
        </div>

        <div class="bottom">
        </div>
      </div>

    <!-- Main -->
      <div id="main">
        <!-- Intro -->
          <section id="top" class="one">
            <div class="container">
              <div class="row">
                <div class="small-9 columns small-centered">
                  <center>
                    <article class="event">
                      <div class="event-date">
                        <p class="event-month">Sept</p>
                        <p class="event-day">18</p>
                      </div>

                      <div class="event-desc">
                        <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                        <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p>
                        <a href="#" class="button alert">Cancelar Evento</a>
                      </div>
                    </article>
                <hr>
                   <article class="event">
                    <div class="event-date">
                      <p class="event-month">Oct</p>
                      <p class="event-day">21</p>
                    </div>
                    <div class="event-desc">
                      <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                      <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p>
                      <a href="#" class="button alert">Cancelar Evento</a>
                    </div>
                  </article>
                  <hr>
                  <article class="event">
                    <div class="event-date">
                      <p class="event-month">April</p>
                      <p class="event-day">10</p>
                    </div>
                    <div class="event-desc">
                      <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                      <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p>
                      <a href="#" class="button alert">Cancelar Evento</a>
                    </div>
                  </article>
                  </center>
                </div>
          </div>
       </div>
      </section>

        <!-- Portfolio -->
          <section id="portfolio" class="three">
            <div class="container">
              <div class="boxSlider">
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar1"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar2"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar3"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar4"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar5"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar6"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar7"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar8"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar9"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar10"></div>
              </div>
            </div>
          </section>

          <section id="about" class="four">
            <div class="container">
                <form>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                        <div class="small-3 columns">
                          <label><h5>Editar Usuario</h5></label>
                        </div>
                          <div class="small-7 columns">
                            <input type="text" placeholder="Cambiar Usuario">
                          </div>
                        <div class="small-2 columns">
                        <a href="#" class="button postfix">Cambiar</a>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-12 columns">
                        <div class="row collapse">
                        <div class="small-3 columns">
                          <label><h5>Editar Contraseña</h5></label>
                        </div>
                          <div class="small-7 columns">
                            <input type="text" placeholder="Password">
                          </div>
                        <div class="small-2 columns">
                        <a href="#" class="button postfix">Cambiar</a>
                        </div>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
          </section>  
      </div>

    <!-- Footer -->
        <footer class="footer">
    <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i>Proteco Fi</p> 
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite© 2016</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>1595 Spring Street New Britain, CT 06051</p></li>
        <li><p><i class="fi-telephone"></i>+1-656-453-9966</p></li>
        <li><p><i class="fi-mail"></i>contact@emperor.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">About Star Wars</p>
      <p class="about subheader">Strike me down, and I will become more powerful than you could possibly imagine.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>

    <!-- Scripts -->
     
     <script src="../js/profile/jquery.scrolly.min.js"></script>
     <script src="../js/profile/jquery.scrollzer.min.js"></script>
     <script src="../js/profile/skel.min.js"></script>
     <script src="../js/profile/util.js"></script>
     <script src="../js/profile/main.js"></script>
     <script src="../js/profile/my.js"></script>
     <script>
  $(document).ready(function(){
  $('.boxSlider').bxSlider({
    slideWidth: 300,
    minSlides: 2,
    maxSlides: 3,
    moveSlides: 1,
    slideMargin: 10
  });
});
</script>
  </body>
</html>